<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Document</title>
</head>
<body>
<div class="container">
	<h1>RaccoltaNazionale Node Edition</h1>
	<% postArr.forEach(post => {%>
		<% urlArr = post.title + "###!###" +  post.content + "###!###" +  post.date + "###!###" + post.image %> 
		<img src="<%= post.image %> " alt=""> <br>
		<b><%= post.title%></b> <br> <br>
		<%= post.description %> <br> <br>
		<b>Leggi tutto</b> - <%= post.journal %> - <%= post.date  %>  <br> <br>
		<a href="<%= post.url %>"><button class="btn btn-success">Sul sito</button></a>
		<% if(post.content != ""){ %> 
		<a href="./articles?p=<%= encodeURIComponent(urlArr) %>" ><button class="btn btn-success">Qui (consigliato)</button></a>
		<% } %> 
		<hr>
	<% })%>
</div>
</body>
</html>
