<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<title>Document</title>
</head>
<body>
<div class="container">
	<h1>RaccoltaNazionale Node Edition</h1>
	<% postArr.forEach(post => {%>
		<img src="<%= post.image %> " id="<%= encodeURIComponent(post.title) %>"> <br>
		<b><%= post.title %></b> <br> <br>
		<%= post.description %> <br> <br>
		<b>Leggi tutto</b> - <%= post.journal %> - <%= post.date  %>  <br> <br>
		<a href="<%= post.url %>"><button class="btn btn-success">Sul sito</button></a>
		<button id="readMore" onclick="sendCookie(`<%= post.title %>`,`<%= post.content %>`,`<%= post.data %>`,`<%= post.date %>`,`<%= post.image %>`,`<%= post.journale %>`)" class="btn btn-success">Qui (consigliato)</button>
		<% if(post.content != ""){ %> 
		<% } %> 
		<hr>
	<% })%>
</div>
<script>
	function sendCookie(title, content, date, image, journal) {
		console.log(title)
		// document.cookie = ""
		// document.cookie = "title="+title+";content="+content+";date="+date+";image="+image+";journal="+journal+";";
		// console.log(document.cookie)
		// window.location = "/articles"
	}
</script>
</body>
</html>