<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<title>Document</title>
	<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
<!-- cdnjs -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-lazyload-any/0.3.1/jquery.lazyload-any.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-3">
		<div class="sticky-top">
			<button class="btn btn-success btn-block">Raccolta Nazionale</button>
			<br>
			<div class="jumbotron">ciaone</div>
		</div>
		</div>
		<div class="col-9">
	<h1>RaccoltaNazionale Node Edition</h1>
	<div id="list">
	<% postArr.forEach(post => {%>
	<div id="post">
		
		<img src="<%= post.image %>" class="img-fluid" id="<%= encodeURIComponent(post.title) %>"> <br>
		<b><%= post.title %></b> <br> <br>
		<%= post.description %> <br> <br>
		<b>Leggi tutto</b> - <%= post.journal %> - <%= post.date  %>  <br> <br>
		<div class="row">
			<div class="col-2">
		<a href="<%= post.url %>"><button class="btn btn-success">Sul sito</button></a>
			</div>
		<% if(post.description != ""){ %>
			<form action="/articles" method="POST">
				<input type="hidden" name="title" value="<%= post.title %>">
				<input type="hidden" name="content" value="<%= post.content %>">
				<input type="hidden" name="date" value="<%= post.date %>">
				<input type="hidden" name="image" value="<%= post.image %>">
				<input type="hidden" name="journal" value="<%= post.journal %>">
				<div class="col">
				<input type="submit" name="send" value="Leggi qui" class="btn btn-success btn-block d-inline-block"> 
			</div>
			</form>
		</div>
		<% } %> 
		<hr>
	</div>
	<% })%>
</div>
</div>
</div>
</div>
</div>
</body>
</html>