<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<title>Document</title>
</head>
<body>
<div class="container">
	<h1>RaccoltaNazionale Node Edition</h1>
	<% postArr.forEach(post => {%>
		<% newArr = post.title + "###!###" + post.content + "###!###" + post.date + "###!###" + post.image %>
		<img src="<%= post.image %> " alt=""> <br>
		<b id="<%= encodeURIComponent(post.title) %>"><%= post.title %></b> <br> <br>
		<%= post.description %> <br> <br>
		<b>Leggi tutto</b> - <%= post.journal %> - <%= post.date  %>  <br> <br>
		<a href="<%= post.url %>"><button class="btn btn-success">Sul sito</button></a>
		<button id="readMore" onclick="ciao(`<%= newArr %>`)" class="btn btn-success">Qui (consigliato)</button>
		<% if(post.content != ""){ %> 
		<% } %> 
		<hr>
	<% })%>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
	function ciao(newArr) {
		console.log(encodeURIComponent(newArr.split("###!###")[0]))
		$.ajax({
			data: JSON.stringify({ newArr: newArr }),
			url: '/articles',
			method: "POST",
			contentType: 'application/json',
			success: function(data){
				// console.log(data)
				document.documentElement.innerHTML = data;
				
			}
		})
	}
</script>
</body>
</html>