	</html>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="public/css/style.css">
	<title><%= title %> - Raccolta Nazionale</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="public/js/functions.js"></script>
</head>
<body>

	<div class="preloader-wrapper">
		<div class="preloader">
			<h1>Raccolta Nazionale </h1>
		</div>
		<div class="credits p-2">Coded by Matteo Galavotti</div>
	</div>

<!-- As a heading -->
<nav class="navbar navbar-success bg-success sticky-top py-2 d-block d-sm-block d-md-none text-center">
	Raccolta Nazionale <i class="fas fa-fire"></i>
</nav>

<div class="container" style="margin-bottom: 60px">
	<div class="row">
		<div class="col-3 d-none d-sm-none d-md-block float-left">
			<div class="sticky-top">
				<br>
				<button class="btn btn-success btn-block" onclick="redirectHome(`<%= encodeURIComponent(title) %>`)">Home  <i class="fas fa-home"></i></button>
				<button class="btn btn-success btn-block mt-2" onclick="redirect(`<%= url %>`)">Articolo Integrale <i class="fas fa-link"></i></button>
				<button class="btn btn-success btn-block mt-2" onclick="redirect('/random')">Random <i class="fas fa-random"></i></button>
				<div class="jumbotron p-1 mt-2 pl-2">© 2020 Matteo Galavotti <br> I diritti degli articoli ai rispettivi proprietari</div>
			</div>
		</div>

<div class="col">
	<div id="post mt-2" style="overflow-wrap: break-word!important;">
		<img src="<%= image  %> " alt="" class="mt-2"> <br>
		<h3><%= title %> </h3> <hr> <br>
		<p id="content" class="lead"><%- content %></p> <br> <hr>
		<p><%= journal %> - <%= date %> </p>
	</div> 

<!-- End col -->
</div>

<!-- End Row -->
</div>

<!-- End Container -->
</div> 

<!-- Navbar in basso -->
<nav class="navbar navbar-success bg-success fixed-bottom py-0 my-0 d-block d-sm-block d-md-none">
	<div class="row text-center">
		<div class="col navigation-item py-3" onclick="redirect(`<%= url %>`)"><i class="fas fa-link fa-lg"></i></div>
		<div class="col navigation-item py-3" onclick="redirectHome(`<%= encodeURIComponent(title) %>`)"><i class="fas fa-home fa-lg"></i></div>
		<div class="col navigation-item py-3" onclick="redirect('/random')"><i class="fas fa-random fa-lg"></i></div>
	</div>
</nav>
</body>
</html>