<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link id="pagestyle" rel="stylesheet" href="public/css/dark-green.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" href="public/css/style.css">
	<title><%= title %> - Raccolta Nazionale</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="public/js/functions.js"></script>
</head>
<body>

	<div class="preloader-wrapper" id="preloader-show">
		<div class="preloader">
			<h1>Raccolta Nazionale </h1>
		</div>
		<div class="credits p-2">Coded by Matteo Galavotti</div>
	</div>

<!-- Navbar Mobile -->
<nav class="navbar navbar-success bg-success sticky-top py-2 d-block d-sm-block d-md-none text-center">
	<div class="row">
		<div class="col my-auto"><div class="menuTitle">Raccolta Nazionale <i class="fas fa-fire"></i></div></div>
		<div class="col">
			<select name="changeThemeSelect" id="changeThemeSelect" onchange="updateTheme()" class="form-control">
				<option value="dark-green">Scuro-verde</option>	
				<option value="dark-blue">Scuro-blu</option>
				<option value="light-blue">Chiaro-blu</option>		
				<option value="light-green">Chiaro-verde</option>	
			</select>
		</div>
	</div>
</nav>

<div class="container" style="margin-bottom: 60px">
	<div class="row">
		<div class="col-3 d-none d-sm-none d-md-block float-left">
			<div class="sticky-top">
				<br>
				<button class="btn btn-success btn-block" onclick="redirectHome(`<%= encodeURIComponent(title) %>`)">Home  <i class="fas fa-home"></i></button>
				<button class="btn btn-success btn-block mt-2" onclick="redirect(`<%= url %>`)">Articolo Integrale <i class="fas fa-link"></i></button>
				<button class="btn btn-success btn-block mt-2" onclick="redirect('/random')">Random <i class="fas fa-random"></i></button>
				<div class="jumbotron p-1 mt-2 pl-2">© 2020 Matteo Galavotti <br> I diritti degli articoli ai rispettivi proprietari</div>
			</div>
		</div>

		<div class="col col-lg-9 col-xl-9 col-md-9 mt-3">
	<div id="post mt-2" style="overflow-wrap: break-word!important;">
		<% if(journal != "Raccolta Nazionale (@raccolta.nazionale) • Instagram photos and videos") {%>
		<img src="<%= image  %> " alt="" class="mt-2 mb-2"> <br>
		<%}%>
		<h3><%= title %> </h3> <br>
		<p id="content" class="lead" style="white-space: pre-line"><%- content %></p>
		<hr>
		<p><%= journal %> - <%= date %> </p>
	</div> 

<!-- End col -->
</div>

<!-- End Row -->
</div>

<!-- End Container -->
</div> 

<!-- Navbar in basso -->
<nav class="navbar navbar-success bg-success fixed-bottom py-0 my-0 d-block d-sm-block d-md-none">
	<div class="row text-center bottomNavbar">
		<div class="col navigation-item py-3" onclick="redirect('/info')"><i class="fas fa-info-circle fa-lg"></i></div>
		<div class="col navigation-item py-3" onclick="redirect('/')"><i class="fas fa-home fa-lg"></i></div>
		<div class="col navigation-item py-3" onclick="redirect('/random')"><i class="fas fa-random fa-lg"></i></div>
	</div>
</nav>
<script>
load();
</script>
</body>
</html>